.header {
  padding: 22px 0;
  border-bottom: solid 1px #ced2da;

  &__container {
    display: flex;
    align-items: center;
    max-width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .nav {
    &__wrapper {
      margin-left: 32px;

      ul {
        display: flex;
        gap: 32px;
        li {
          cursor: pointer;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
  .exit__btn {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
